.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genderProductBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cart_header_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 1024px;
  justify-content: center;
  background: linear-gradient(white, #4cb1ca);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white, grey) 1;
}

.cart_product_col {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
