@import "../../../styles.scss";

.cart_header_row{
    @include flex-row;
    height: 100px;
    width: 100%;
    max-width: $wc;
    justify-content: center;
    background: linear-gradient(white, $color1);
    border-width:  2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255), grey) 1;
    

}

.cart_product_col{
    width: 25%;
    @include flex-column;
}

